@media (max-width: 800px) {

    .ShellCenter {
        flex: 1;
    }

    .ShellTop__left {
        flex: 1;
        display: flex;
        align-items: center;
        justify-content: flex-start;
        margin-left: 0.5em;
    }

    .ShellCenter {
        display: none;
    }

    /* APP */

    .container__application-uafinder {
        padding-top: 2.5em;
    }

    .ShellUA__cadre-useragent {
        text-align: center;
        margin-top: 10%;
        margin-left: 1%;
        margin-right: 1%;
        padding: 2em;
        border: 1px solid black;
        font-size: 16px;
    }

    /* APP */

}